#smPopupContainer {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  position: relative !important;
}

#smPopupBackground {
  opacity: 0.7 !important;
}

#salesmanagoIframe {
  background: transparent !important;
}

#popupContainer {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

@media all and (max-width: 800px) {
  #smPopupContainer {
    width: 100% !important;
    max-width: 400px !important;
  }

  #PopupContainer {
    width: 100% !important;
    max-width: 400px !important;
    height: 800px !important;
  }

  #salesmanagoIframe {
    background: transparent !important;
  }

  .wrapper-global {
    max-width: 400px !important;
  }
}
